//fonts
$OPS-R: OpenSansRegular;
$OPS-SB: OpenSansSemiBold;
$OPS-B: OpenSansBold;

//colors
$brand-white: #fff;
$brand-white-hover: #F4F4F4;
$brand-white-active: #EEE;
$brand-black: #0D0D0D;
$brand-orange: #F77640;
$brand-orange-hover: #ED5A1C;
$brand-orange-active: #DB4A0D;
$brand-gray: #E3E3E3;
$brand-gray-hover: #D9D9DA;
$brand-icon-default: #717582;
$brand-shadow: rgba(0, 0, 0, 0.06);

@media (max-width: 1239px) {
  .sec-lvl-4 .flex-block-links .side .shadow-wr-l a {
    font-size: 14px;
  }
  .shadow-wr .descr .top-descr a {
    font-size: 15px;
  }
  .sec-lvl-6 .second-baner {
    background-position: center right -213px;
  }
  .back-call {
    display: none;
  }
  footer .top-side-footer {
    display: block;
  }
  footer .top-side-footer .left-side {
    width: 100%;
    margin-bottom: 10px;
  }
  footer .top-side-footer .right-side {
    width: 100%;
    justify-content: flex-start;
  }

  footer .top-side-footer .right-side .footer-lang-list {
    margin-left: auto;
  }
  footer .top-side-footer .right-side .for-border-r {
    border-right: none;
  }
  footer .mid-side-footer .left-side .menu-side {
    padding-left: 10px;
  }
  footer .mid-side-footer .right-side .one-office .one-col .req {
    font-size: 13px;
  }
  footer .mid-side-footer .right-side .one-office .one-col:first-child {
    width: 185px;
  }
  footer .mid-side-footer .right-side .one-office .one-col .num {
    font-size: 15px;
  }
  footer .mid-side-footer .right-side .one-office .one-col {
    padding-right: 22px;
  }
  .head-menu.fixed-menu .flex-menu .mid-side input {
    width: 370px;
  }
  .head-menu.fixed-menu .flex-menu .mid-side input.search-form--narrow {
    width: 320px;
  }
  .sec-product .main-product-description h1, .sec-product .main-product-description h2, .sec-product .main-product-description h3, .sec-product .main-product-description h4, .sec-product .main-product-description h5, .sec-product .main-product-description h6 {
    font-size: 24px;
  }
  .sec-product .main-product-description .price {
    font-size: 24px;
  }
  .sec-product .main-product-description .add-to-basket {
    font-size: 20px;
  }
  .sec-product .other-products-wr .other-products .one-block .img-prod {
    width: 75px;
    height: 75px;
  }
  .sec-product .other-products-wr .other-products .one-block .description {
    padding-left: 10px;
  }
  .sec-product .main-product-description .pick-size-delivery-wr .left-side {
    padding-right: 14px;
  }
  .sec-product .other-products-wr .list-services-vers-1 .one-row .padd-buttons .one-service p, .sec-product .other-products-wr .list-services-vers-1 .one-row .padd-buttons .one-service a {
    font-size: 10px;
  }
  .sec-product {
    .subheader {
      .subheader__search {
        input {
          width: 310px;
        }
      }
    }
  }
  .sec-product .logo-element {
    .logo-element__circle {
      .logo-element__image {
        height: 70px;
      }
    }
  }

  // catalog style

  .catalog-search {
    margin-bottom: 25px;
  }
  .catalog-a-side {
    padding-right: 20px;
    width: calc(100% - 210px);
    min-width: calc(100% - 210px);
  }
  .catalog-b-side {
    padding-left: 20px;
    width: 210px;
  }
  .catalog-search__field {
    height: 40px;
  }
  .catalog-search__btn {
    padding: 8px 0;
  }
  .sort-panel {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 35px;
  }
  .sort-panel__result {
    margin-bottom: 10px;
  }
  .sort-panel__variant {
    width: 100%;
  }
  .sort-panel__item {
    margin-left: 0;
    margin-right: 32px;
  }
  .sort-panel__view-toggle {
    flex: 1;
    justify-content: flex-end;
  }
  .product-timer__counter {
    font-size: 14px;
  }
  .product-item__body{
    padding: 0 6px;
  }
  .product-item__name {
    font-size: 15px;
    line-height: 21px;
    height: 42px;
  }
  .product-item__description {
    font-size: 14px;
    line-height: 20px;
    height: 40px;
  }
  .product-item__price {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 7px;
  }
  .product-item__weight {
    font-size: 14px;
    line-height: 20px;
  }

  .product-item__viewed {
    font-size: 12px;
    padding: 8px 0;
  }
  .product-list__view-count {
    padding: 12px 0;
  }
  .product-list__view-count__text {
    font-size: 15px;
  }
  .show-more-container {
    padding-bottom: 50px;
  }
  .btn-default-custom {
    font-size: 14px;
  }
  .catalog-filter {
    padding-left: 15px;
    margin-left: -15px;
  }

  .catalog-filters__container.collapse[aria-expanded="false"] {
    padding-left: 15px;
    margin-left: -15px;
  }
  .btn-default-fiter {
    padding-left: 5px;
    padding-right: 5px;
  }
  .catalog-filters__panel--bordered {
    padding-left: 15px;
    margin-left: -15px;
  }
  .product-item--horizontal .product-item__photo {
    margin-right: 20px;
  }
  .preloader__product-item__name {
    height: 12px;
  }
  .preloader__product-item__name-new-line {
    height: 12px;
  }
  .preloader__product-item__description {
    height: 8px;
    margin-bottom: 32px;
  }
}

@media (max-width: 991px) {
  .sec-product .other-products-wr .list-services-vers-1 .one-row .padd-buttons .one-service {
    &:hover {
      background: rgba(245, 248, 252, 0.8);
    }
  }
  .sec-product .other-products-wr .list-services-vers-1 .one-row .padd-buttons .one-service p, .sec-product .other-products-wr .list-services-vers-1 .one-row .padd-buttons .one-service a {
    font-size: 12px;
  }
  .head-menu .flex-menu {
    flex-wrap: wrap;
  }
  .head-menu .flex-menu .left-side {
    width: 100%;
    padding-top: 10px;
  }
  .head-menu .flex-menu .mid-side {
    width: 50%;
  }
  .head-menu .flex-menu .right-side {
    width: 50%;
  }
  .head-menu .flex-menu .left-side .logo-wr {
    margin-right: auto;
  }
  .head-menu .flex-menu .mid-side .menu-list .first-item {
    padding: 0 9px;
    &.how-it-works {
      padding-right: 5px;
    }
    &:first-child {
      padding-left: 0;
    }
  }
  .head-menu.fixed-menu .flex-menu .left-side .tel-number {
    display: none;
  }
  .head-menu.fixed-menu .flex-menu {
    flex-wrap: nowrap;
  }
  .head-menu.fixed-menu .flex-menu .left-side {
    padding-top: 0;
  }
  .head-menu.fixed-menu .flex-menu .mid-side input {
    width: 295px;
  }
  .head-menu.fixed-menu .flex-menu .mid-side input.search-form--narrow {
    width: 270px;
  }
  .head-menu.fixed-menu .flex-menu .left-side {
    width: 195px;
  }
  .sec-lvl-4 .col-md-3 {
    &:nth-child(even) {
      .wrapp-how-works:after {
        display: none;
      }
    }

  }
  .sec-lvl-4 .flex-block-links {
    flex-wrap: wrap;
    justify-content: center;
  }
  .sec-lvl-4 .flex-block-links .side.side-1 {
    width: 50%;
  }
  .sec-lvl-4 .flex-block-links .side.side-2 {
    width: 50%;
  }
  .sec-lvl-4 .flex-block-links .side.side-3 {
    width: 50%;
    padding-left: 0;
  }
  .sec-lvl-6 .second-baner h6 {
    font-size: 28px;
    margin-top: 0;
  }
  .sec-lvl-6 .second-baner p {
    font-size: 18px;
    max-width: 315px;
  }
  .sec-lvl-6 .second-baner {
    padding: 15px 30px;
  }
  .sec-lvl-6 .second-baner p {
    margin-bottom: 34px;
  }
  footer .mid-side-footer .left-side {
    width: 50%;
  }
  footer .mid-side-footer .right-side {
    width: 50%;
    padding-left: 25px;
  }
  footer .mid-side-footer .right-side .one-office {
    flex-wrap: wrap;
  }
  footer .mid-side-footer .right-side .one-office .one-col {
    width: 50%;
  }

  footer .mid-side-footer .right-side .one-office .one-col:first-child {
    width: 100%;
    margin-bottom: 10px;
  }
  .sec-product .other-products-wr {
    display: flex;
    margin-top: 0;
    background-color: #fff;
    .for-sm-inline {
      width: 50%;
      &:first-child {
        padding-right: 15px;
      }
      &:last-child {
        padding-left: 15px;
      }
    }
    .list-services-vers-1 .one-row .padd-buttons .one-service {
      border: 1px solid #E3E3E3;
    }
  }
  .sec-product {
    padding: 120px 0 75px 0;
    .subheader {
      .subheader__bread {
        margin-top: 0;
      }
      .subheader__search {
        margin-top: 15px;
        input {
          width: 340px;
        }
        button {
          left: 293px;
        }
      }
    }
    .tags-wrapper {
      margin-top: 22px;
      margin-bottom: 22px;
    }
    .contentAfter-wrapper {
      margin-bottom: 22px;
    }
  }
  .sec-product .main-product-description {
    .product-upper {
      margin-bottom: 0px;
    }
  }

  // catalog style

  .catalog-a-side {
    padding-right: 15px;
    width: calc(100% - 190px);
    min-width: calc(100% - 190px);
  }
  .catalog-b-side {
    padding-left: 15px;
    width: 190px;
  }
  .sort-panel__variant {
    justify-content: space-between;
  }
  .sort-panel__item {
    margin: 0;
    font-size: 12px;
  }
  .sort-panel__view-toggle {
    margin-left: 0;
    flex: 0;
  }
  .sort-panel__toggle-item:first-child {
    margin: 0;
  }
  .product-item {
    width: 50%;
  }

  .product-item--horizontal {
    min-width: 100%;
    width: auto;
    margin: 0 0 0 -8px;
  }
  .product-item--horizontal .product-item__photo {
    margin-right: 15px;
  }
  .product-item--horizontal .product-item__body {
    width: calc(100% - 119px);
  }
  .product-item--horizontal .product-item__body__info {
    width: 170px;
    min-width: 170px;
  }
  .product-item--horizontal .product-item__company__wrap {
    padding: 0 10px;
  }
  .product-item--horizontal .product-item__body__price-info {
    width: 110px;
    min-width: 110px;
  }
  .product-item__price {
    font-size: 18px;
    line-height: 22px;
  }
  .product-item__weight {
    font-size: 12px;
  }
  .lidogeneration__title {
    font-size: 20px;
    line-height: 25px;
  }
  .preloader__product-item__name {
    height: 12px;
  }
  .preloader__product-item__name-new-line {
    height: 12px;
  }
  .preloader__product-item__description {
    height: 8px;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .head-menu {
    background: rgba(247, 253, 255, 0.82);
  }
  .head-menu .flex-menu .right-side .other-links-wr .hover-wr-list-notifications {
    width: 248px;
    right: 108px;
  }
  .head-menu .flex-menu .right-side .other-links-wr .hover-wr-list-notifications .hidden-list-notifications:before {
    right: 10%;
  }
  .sec-product .sliders-wrapper .slider-bott-wr {
    padding: 20px;
  }
  .head-menu .flex-menu {
    border: none;
  }
  footer .top-side-footer .left-side {
    display: block;
  }
  footer .top-side-footer .left-side .call a {
    padding: 0 7px;
    font-size: 12px;
  }
  footer .top-side-footer .right-side {
    display: block;
  }
  footer .top-side-footer .right-side .soc-links {
    width: auto;
    border: none;
    margin-bottom: 5px;

  }
  footer .top-side-footer .right-side .for-border-r {
    padding-left: 0;
    margin-bottom: 5px;

  }
  footer .top-side-footer .right-side .soc-links a {
    &:first-child {
      padding-left: 0;
    }

  }
  footer .top-side-footer .right-side .footer-lang-list {
    padding-left: 0;
  }
  footer .top-side-footer .right-side .footer-lang-list li {
    &:first-child {
      padding-left: 0;
    }
  }
  footer .mid-side-footer {
    display: block;

  }
  footer .mid-side-footer .left-side {
    width: 100%;
    margin-bottom: 10px;
    border: none;
  }
  footer .mid-side-footer .right-side .one-office .one-col {
    width: 100%;
    padding-right: 0;
  }
  footer .mid-side-footer .right-side {
    width: 100%;
    padding-left: 0;
  }
  footer .mid-side-footer .right-side .one-office .one-col:last-child {
    padding-top: 17px;
  }
  .head-menu.fixed-menu .flex-menu .right-side {
    display: none;
  }
  .sec-lvl-4 .wrapp-how-works:after {
    display: none;
  }
  .sec-lvl-4 .flex-block-links .side.side-1 {
    width: 100%;
  }
  .sec-lvl-4 .flex-block-links .side.side-2 {
    width: 100%;
  }
  .sec-lvl-4 .flex-block-links .side.side-3 {
    width: 100%;
  }
  .head-menu .flex-menu .mid-side {
    order: 10;
    width: 100%;
  }
  .head-menu .flex-menu .right-side {
    width: 100%;
  }
  .navbar-toggle {
    border: none;
    right: auto;
    left: 5px;
    top: 27px;
    z-index: 50;
  }
  .head-menu .flex-menu .mid-side .menu-list {
    display: block;
  }
  .head-menu .flex-menu .mid-side .menu-list .first-item {
    padding: 0;
    margin-bottom: 7px;
    a {
      text-align: center;
    }
  }
  .navbar-toggle .icon-bar {
    background: #31365E;
  }
  .main-baner h1, h2, h3, h4, h5, h6 {
    font-size: 21px;
  }
  .main-baner p {
    font-size: 14px;
    margin: 0 auto 22px auto;
  }
  .main-baner {
    height: 520px;
  }
  .sec-lvl-4 {
    padding-top: 20px;
  }
  .head-menu.fixed-menu .flex-menu .mid-side input,
  .head-menu.fixed-menu .flex-menu .mid-side input.search-form--narrow {
    width: 173px;
  }
  .head-menu.fixed-menu .flex-menu .mid-side {
    width: auto;
  }
  .head-menu.fixed-menu {
    padding: 5px 0;
  }
  .sec-lvl-4 .flex-block-links .side.side-2 {
    padding: 0;
  }
  .sec-lvl-4 .flex-block-links .side.side-1 {
    padding: 0;
  }
  .sec-lvl-4 {
    margin-bottom: 60px;
  }
  .sec-lvl-6 .second-baner {
    background-image: none;
  }
  .sec-lvl-6 .second-baner {
    padding: 15px 15px;
  }
  .sec-lvl-6 .second-baner span {
    width: 100%;
    max-width: 260px;
    margin: auto;
  }
  .sec-lvl-6 {
    margin-bottom: 10px;
  }
  .sec-lvl-7 .for-flex-alighn {
    display: block;
  }
  .sec-lvl-7 .for-flex-alighn img {
    margin: 0 auto 10px auto;
  }
  .sec-lvl-7 {
    margin-bottom: 60px;
  }
  .sec-lvl-8 .subscribe-text {
    font-size: 20px;
  }
  .sec-lvl-8 .policy a {
    white-space: nowrap;
  }
  .sec-lvl-8 form button {
    width: 110px;
    font-size: 13px;
  }
  .sec-lvl-8 form .form-field {
    font-size: 14px;
  }
  footer .top-side-footer .left-side .email {
    margin-bottom: 5px;
  }
  footer .top-side-footer .right-side .for-border-r {
    margin-bottom: 10px;
  }
  .head-menu .flex-menu .right-side .other-links-wr .hover-wr-list {
    top: 83%;
    width: 230px;
  }

  .head-menu .flex-menu .right-side .other-links-wr #user-menu {
    top: 124%;
    right: 50px;
  }
  .head-menu .flex-menu .right-side .other-links-wr #user-menu .hidden-list:before {
    right: 32%;
  }

  #basket-new {
    padding-bottom: 39px;
  }

  .modal .modal-dialog {
    max-width: 290px;
    margin: 30px auto;
  }
  .modal .modal-dialog .modal-body {
    padding: 30px 15px;
  }
  .sendRequest-form .buttons-wrapp {
    display: block;

  }
  .sendRequest-form .buttons-wrapp .for-padd {
    width: 100%;
    padding-right: 0;
    margin-bottom: 10px;
  }
  .modal .modal-dialog .modal-body .close-modal {
    top: 9px;
    right: 9px;
  }
  footer .bot-side-footer {
    display: block;
    a {
      display: block;
      margin-bottom: 10px;
    }
  }
  .head-menu {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  }
  .sec-product .other-products-wr {
    display: block;
    .for-sm-inline {
      width: 100%;
      padding: 0 !important;
    }
  }
  .sec-product .poss-delivery {
    background-position: center left;
    margin-bottom: 20px;
  }
  .sec-product .main-product-description .pick-size-delivery-wr .inp .left-side input {
    width: 103px;
    font-size: 22px;
  }
  .sec-product {
    padding-bottom: 60px;
    .subheader {
      .subheader__search {
        input {
          width: 168px;
        }
        button {
          left: 122px;
        }
      }
    }
  }
  .sec-product .main-product-description {
    margin-bottom: 30px;
  }

// catalog style
  .catalog-a-side {
    width: 100%;
    min-width: 100%;
    padding-right: 0;
    float: none;
  }
  .catalog-b-side {
    position: static;
    float: none;
    width: auto;
    min-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
    margin: 0 -15px 15px;
    border-bottom: 1px solid $brand-gray;
  }
  .catalog-search__field {
    height: 48px;
    font-size: 16px;
    padding-right: 74px;
  }
  .catalog-search__btn {
    height: 48px;
    padding: 0;
    width: 64px;
    font-size: 0;
    background-image: url(../img/search-white.svg);
    background-position: center;
    background-repeat: no-repeat;

    &:hover,
    &:focus,
    &:active {
      background-image: url(../img/search-white.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .sort-panel {
    display: none;
  }
  .catalog-filters.navbar-collapse {
    height: 0;
    overflow: hidden;
  }
  .catalog-filters.navbar-collapse.in {
    max-height: 100%;
    height: auto;
  }
  .catalog-filters {
    display: flex;
    flex-direction: column;
  }
  .catalog-filters__panel-1 {
    order: 1;
  }
  .catalog-filters__panel-2 {
    order: 3;
  }
  .catalog-filters__panel-3 {
    order: 4;
  }
  .catalog-filters__panel-4 {
    order: 2;
  }
  .catalog-filters__panel-5 {
    order: 5;
  }
  .catalog-filters__title {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .catalog-filters__container.collapse[aria-expanded="false"] {
    padding-left: 0;
    margin-left: 0;
    height: 236px !important;
  }
  .catalog-filters__container.collapsing[aria-expanded="false"] {
    height: 236px !important;
  }
  .catalog-filter {
    margin-left: 0;
    padding: 14px 0;
    border-left: 1px solid $brand-gray;
    border-right: 1px solid $brand-gray;
    border-bottom: 1px solid $brand-gray;
    font-size: 16px;
  }
  .catalog-filter__wrap .catalog-filter:first-child {
    border-top: 1px solid $brand-gray;
    border-radius: 4px 4px 0 0;
  }
  .catalog-filter__wrap .catalog-filter:last-child {
    border-radius: 0 0 4px 4px;
    
  }
  .catalog-filter__name {
    padding: 0 35px 0 16px;
    display: block;

    &:before,
    &:after {
      right: 16px;
      left: auto;
    }
  }
  .catalog-filters__show--wrap {
    padding: 20px 0 25px;
    border: 1px solid $brand-gray;
    border-top: none;
    border-radius: 0 0 4px 4px;
    text-align: center;
  }
  .catalog-filters__show {
    margin: 0;
    padding-left: 18px;
    font-size: 17px;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
  .catalog-filters__show:before {
    background: transparent;
  }
  .catalog-filters__show:after {
    border-bottom: 5px solid $brand-orange;
    left: 0;
  }
  .custom-select__wrap {
    margin-bottom: 16px;
  }
  .select2-container .catalog-select {
    font-size: 16px;
    line-height: 22px;
    padding: 12px 32px 12px 8px;
  }
  .select2-container .select2-selection--single .select2-selection__clear {
    top: 12px;
  }
  .select2-container--open .catalog-select__dropdown .select2-search__field {
    height: 48px;
    margin-top: -48px;
    padding: 0px 36px 0 16px;
    font-size: 16px;
  }
  .select2-container--open .catalog-select__dropdown .select2-search__field::placeholder {
    font-size: 14px;
  }
  .catalog-select__dropdown .select2-results__option {
    font-size: 16px;
    line-height: 22px;
    padding: 12px 16px;
  }
  .custom-select__add {
    font-size: 16px;
    line-height: 22px;
    font-family: $OPS-R, sans-serif;
  }
  .custom-select__add:before {
    content: none;
  }
  .custom-select__add:after {
    background-image: url(../img/icon-add-select-xs.svg);
    top: 3px;
  }
  .btn-default-fiter {
    background: $brand-orange;
    color: $brand-white;
    font-size: 17px;
    padding: 17px 20px;

    &:hover,
    &:focus,
    &:active {
      background-color: $brand-orange-active !important;
      color: $brand-white !important;
    }
  }

  .catalog-search {
    margin-bottom: 16px;
  }

  .show-filter-xs {
    display: block;
    position: relative;
    padding-left: 28px;
    margin: 0 -15px 16px;
    padding: 6px 15px 6px 43px;
    cursor: pointer;
    background: $brand-orange;

    &:before {
      content: '';
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 8px solid $brand-orange;
      position: absolute;
      left: 15px;
      bottom: -8px;
    }
  }
  .show-filter-xs.collapsed {
    background: $brand-white;
    
    &:before {
      content: none;
    }

    .show-filter-xs__text {
      color: $brand-orange;
    }
    .line {
      background: $brand-orange;
      
      &:before {
        background: $brand-white;
        border-color: $brand-orange;
      }
    }
  }
  .show-filter-xs__text {
    font-size: 16px;
    line-height: 22px;
    font-family: $OPS-R, sans-serif;
    color: $brand-white;
  }
  .show-filter-xs__icon {
    display: inline-block;
    width: 16px;
    color: $brand-orange;
    position: absolute;
    left: 17px;
    top: 15px;

    .line {
      display: block;
      position: relative;
      background: $brand-white;
      height: 1px;

      &:before {
        content: '';
        width: 5px;
        height: 5px;
        background: $brand-orange;
        border: 1px solid $brand-white;
        border-radius: 50%;
        position: absolute;
        top: -2px;
      }
    }
    .line-top {
      margin-bottom: 6px;
    }
    .line-top:before {
      left: 3px;
    }
    .line-bottom:before {
      right: 3px;
    }
  }
  .catalog-filters__panel--bordered {
    border: none;
  }

  .btn-default-hide-fiter {
    font-size: 17px;
    padding: 17px 20px;
  }

  .product-list {
    padding: 0;
    margin: 0 -15px;
  }
  .product-list__weil {
    right: 0;
  }
  .product-item {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
  .product-item__name {
    font-size: 13px;
    line-height: 18px;
    height: 36px;
  }
  .product-item__description {
    margin-bottom: 6px;
    font-size: 11px;
    line-height: 15px;
    height: 15px;
  }
  .product-item__weight {
    display: none;
  }
  .product-item__viewed {
    display: none;
  }
  .product-timer {
    padding: 5px 10px;
  }
  .product-timer__counter {
    font-size: 12px;
    margin-right: 6px;
    padding: 0;
  }
  .product-list__view-count {
    margin-left: -15px;
    margin-right: -15px;
    padding: 4px 0;
  }
  .product-list__view-count__text {
    font-size: 12px;
  }
  .catalog__text {
    font-size: 12px;
  }
  .product-item--horizontal {
    margin: 0;
  }
  .product-item--horizontal .product-item__body {
    display: block;
  }
  .product-item--horizontal .product-item__body__info {
    width: auto;
  }
  .product-item--horizontal .product-item__name {
    font-size: 16px;
    line-height: 22px;
    height: 44px;
  }
  .product-item--horizontal .product-item__description {
    font-size: 15px;
    line-height: 20px;
    height: 20px;
  }
  .product-item--horizontal .product-item__company__wrap {
    display: none;
  }
  .product-item--horizontal .product-item__body__price-info {
    width: auto;
    padding-top: 0;
  }
  .product-item--horizontal .product-timer .product-timer__counter {
    padding: 0;
  }
  .catalog-feedback__title--request {
    color: #0d0d0d;
  }
  .catalog-feedback__field--request {
    height: 56px;
    font-size: 15px;
  }
  .catalog-request__btn {
    font-size: 17px;
    background-image: none;
    width: auto;
    padding: 0 20px;
    width: auto;
    max-width: 100%;
    height: 64px;

    &:hover,
    &:focus,
    &:active {
      background-image: none;
    }
  }
  .catalog-feedback--request {
    margin: 0 -15px;
  }
  .catalog-feedback__header--request {
    background: $brand-icon-default;
    font-size: 14px;
    color: $brand-white;
    padding: 16px;
  }
  .catalog-feedback__field-wrap--request {
    padding: 0 15px;
  }
  .product-list__view-count--request {
    padding: 12px 0;
  }
  .catalog-feedback {
    margin: 0 -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .catalog-feedback__title {
    font-size: 20px;
    line-height: 27px;
    margin-top: 24px;
  }
  .catalog-feedback__subtitle {
    font-size: 14px;
    margin-bottom: 32px;
  }
  .catalog-feedback__field {
    height: 56px;
    font-size: 15px;
  }
  .catalog__text-container {
    padding: 24px 0 0;
  }
  .lidogeneration__title {
    text-align: center;
    max-width: 100%;
    margin-bottom: 32px;
  }
  .new-line {
    display: block;
    font-size: 14px;
    line-height: 20px;
  }
  .new-line-thin {
    font-family: $OPS-R, sans-serif;
    font-weight: 400;
  }
  .lidogeneration {
    padding-right: 0;
    margin-left: -15px;
    margin-right: -15px;
  }
  .lidogeneration__wrap {
    max-width: 340px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }
  .lidogeneration__field {
    height: 48px;
    font-size: 13px;
    margin-bottom: 16px;
  }
  .lidogeneration__btn {
    position: static;
    background-image: none;
    font-size: 17px;
    width: 220px;
    height: 56px;
    margin: 0 auto;
    border-radius: 4px;
    
    &:hover,
    &:focus,
    &:active {
      background-image: none;
    }
  }
  .lidogeneration__policy {
    color: $brand-gray-hover;
    text-align: center;
    line-height: 16px;
  }

  .lidogeneration__policy__link {
    color: $brand-white;
    display: block;
  }
  .preloader__catalog-b-side {
    display: none;
  }
  .preloader__breadcrums {
    height: 20px;
    width: 30%;
  }
  .preloader__product-item {
    padding-bottom: 0;
  }
  .preloader__product-item__name {
    height: 20px;
    width: 100%;
  }
  .preloader__product-item__name-new-line {
    height: 20px;
    width: 100%;
    margin-bottom: 32px;
  }
  .preloader__product-item__description {
    display: none;
  }
  .product-item--horizontal .product-item__name {
    height: 20px;
  }
  .preloader__product-item__name-new-line {
    margin-bottom: 35px;
  }
}

// NEW STYLE Yorso-v-4

@media (max-width: 1239px) {
  .head-menu .flex-menu .right-side .other-links-wr {
    margin-right: 10px;
  }
  .head-menu .flex-menu .left-side .logo-wr {
    margin-right: 10px;
  }

  .head-menu .flex-menu .mid-side .menu-list .first-item {
    padding: 0 5px;
  }
  .head-menu .flex-menu .left-side .call {
    padding: 3px 7px;
  }
  .head-menu.fixed-menu .flex-menu .mid-side input {
    width: 315px;
  }
  .head-menu.fixed-menu .flex-menu .left-side .tel-number {
    color: #0D0D0D;
  }
  .head-menu .flex-menu .mid-side .menu-list .first-item a {
    font-size: 11px;
  }
  .regions .flex-pick-region .right-side .form-pick-region {
    width: 147px;
  }
  .regions .flex-pick-region .pick-text {
    font-size: 12px;
  }
  .regions .flex-pick-region {
    padding-right: 28px;
  }
  .regions .flex-pick-region .right-side .form-pick-region .dropdown-region .other-regions {
    font-size: 12px;
  }
  .sec-regions .flex-flags li {
    width: 20%;
  }
}

@media (max-width: 991px) {
  .head-menu .flex-menu .left-side .logo-wr {
    margin-right: auto;
  }
  .head-menu.fixed-menu .flex-menu .left-side .tel-number {
    display: block;
  }
  .head-menu.fixed-menu .flex-menu {
    flex-wrap: wrap;
  }
  .head-menu.fixed-menu .flex-menu .left-side {
    width: 100%;
  }
  .head-menu.fixed-menu .flex-menu .left-side {
    padding-top: 10px;
  }
  .head-menu.fixed-menu .flex-menu .mid-side {
    width: auto;
    margin-right: auto;
  }
  .head-menu.fixed-menu .flex-menu .right-side {
    width: 100%;
  }
  .head-menu.fixed-menu .flex-menu .mid-side .menu-list .first-item a {
    color: #0D0D0D;
  }
  footer .top-side-footer .left-side {
    //flex-wrap: wrap;
  }
  footer .top-side-footer .for-border-r .subscribe-text {
    margin-right: 10px;
  }
  footer .top-side-footer .soc-links {
    padding-right: 0;
  }
  footer .top-side-footer .left-side .call {
    margin-right: 0;
  }
  footer .top-side-footer .left-side .call a {
    font-size: 12px;
    padding: 0 5px;
  }
  footer .top-side-footer .soc-links a {
    padding: 0 3px;
  }
  .sec-regions .flex-flags li {
    width: 25%;
  }
  .sec-regions {
    padding-top: 93px;
  }
  .alerts.scrolled-alerts {
    top: 100px;
  }
  .alerts {
    top: 93px;
  }
}

@media (max-width: 767px) {
  .head-menu.fixed-menu .flex-menu .left-side .tel-number {
    display: none;
  }
  .head-menu.fixed-menu .flex-menu .left-side .call {
    display: none;
  }
  .head-menu.fixed-menu .flex-menu .mid-side input {
    width: 168px;
  }
  .head-menu.fixed-menu .flex-menu .mid-side {
    margin-right: 0;
  }
  .head-menu.fixed-menu .flex-menu .left-side {
    padding-top: 0;
  }
  .head-menu .flex-menu .left-side .tel-number {
    display: none;
  }
  footer .top-side-footer .for-border-r .subscribe-text {
    margin-bottom: 10px;
  }
  footer .top-side-footer .left-side {
    display: flex;
    flex-wrap: wrap;
  }
  footer .top-side-footer .left-side .email {
    width: 100%;
  }
  footer .top-side-footer .for-border-r {
    width: 100%;
  }
  footer .top-side-footer .left-side .call {
    margin-right: auto;
    transform: translateX(-5px);

  }
  footer .bot-side-footer p {
    padding-left: 0;
  }
  .regions .flex-pick-region {
    display: block;
    padding-right: 0;
  }
  .regions .flex-pick-region .pick-text {
    padding-right: 20px;
    margin-bottom: 12px;
  }
  .regions .flex-pick-region .close-region {
    top: 0;
    transform: none;
  }
  .regions .flex-pick-region .right-side .form-pick-region {
    width: 160px;
    margin-right: 19px;
  }
  .fixed-menu {
    .regions {
      margin-bottom: 5px;
    }
  }
  .cookies-wrapp .cookies-contant .m-w-cookes {
    display: block;
    padding: 8px 0;
  }
  .close-cookie.close-x {
    top: 18px;
    transform: none;
  }
  .cookies-wrapp .cookies-contant .m-w-cookes .policy {
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 36px;
  }
  .cookies-wrapp .cookies-contant .m-w-cookes .later,
  .cookies-wrapp .cookies-contant .m-w-cookes .read {
    padding: 2px 14px;
  }
  .notifications-wrapp {
    position: static;
  }
  .notifications-wrapp .dropdown-notifications {
    width: 280px;
    right: 15px;
  }
  .right-side .lang-wrapp #lang-menu .lang-list .hidden-list:before,
  .right-side #user-menu .hidden-list:before,
  .notifications-wrapp .dropdown-notifications:before {
    display: none;
  }
  .notifications-wrapp .dropdown-notifications .head-notif {
    display: block;
  }
  .notifications-wrapp .dropdown-notifications .head-notif p {
    margin-bottom: 10px;
  }
  .notifications-wrapp .dropdown-notifications .head-notif ul li {
    &:first-child {
      padding-left: 0;
    }
  }
  .sec-regions .flex-flags li {
    width: 50%;
  }
  .sec-regions h1 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .sec-regions .flex-flags {
    margin-bottom: 42px;
  }
  .alerts .relative-wrapp {
    width: 280px;
  }
  .alerts.scrolled-alerts {
    top: 43px;
  }


}
