@import "../variables";

.custom-select {

  &__wrap {
    position: relative;
    margin-bottom: 8px;
    @media #{$xs} {
      margin-bottom: 16px;
    }
  }

  &__add {
    font-size: 13px;
    line-height: 18px;
    color: $brand-orange;
    padding-left: 32px;
    position: relative;
    cursor: pointer;
    margin-top: 15px;
    @media #{$xs} {
      font-size: 16px;
      line-height: 22px;
      font-family: $OPS-R, sans-serif;
    }

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 2px;
      background-color: $brand-gray-hover;
      position: absolute;
      top: 2px;
      left: 0;
      @media #{$xs} {
        content: none;
      }
    }

    &:after {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 2px;
      background: url('#{$assets-path}/img/icon-add-select.svg') no-repeat center center;
      position: absolute;
      top: 2px;
      left: 0;
      @media #{$xs} {
        background-image: url('#{$assets-path}/img/icon-add-select-xs.svg');
        top: 3px;
      }
    }

    &:hover {
      &:before {
        background-color: $brand-orange;
      }
    }
  }
}

.select2 .select2-container .select2-container--bootstrap {
  .select2-selection__rendered {
    color: $brand-icon-default;
  }
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: absolute;
  top: 6px;
  right: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: url('#{$assets-path}/img/remove-select.svg') no-repeat center center $brand-white;
  cursor: pointer;
  font-size: 0;
  z-index: 5;
}

.select2-container .select2-selection__arrow b {
  border-color: $brand-gray-hover transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  right: 11px;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

@media #{$xs} {
  .select2-container .catalog-select {
    font-size: 16px;
    line-height: 22px;
    padding: 12px 32px 12px 8px;
  }
  .select2-container .select2-selection--single .select2-selection__clear {
    top: 12px;
  }
  .select2-container--open .catalog-select__dropdown .select2-search__field {
    height: 48px;
    margin-top: -48px;
    padding: 0px 36px 0 16px;
    font-size: 16px;
  }
  .select2-container--open .catalog-select__dropdown .select2-search__field::placeholder {
    font-size: 14px;
  }
  .catalog-select__dropdown .select2-results__option {
    font-size: 16px;
    line-height: 22px;
    padding: 12px 16px;
  }
}
