@import "../variables";

.catalog-select__dropdown .select2-search--dropdown {
  padding-top: 0;
  padding-bottom: 0;
}

.catalog-select__dropdown .select2-results__options {
  max-height: 185px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: $brand-white;
  }
  &::-webkit-scrollbar-thumb:vertical {
    background-color: #C4C4C4;
    height: 36px;
    border-radius: 3px;
  }
}

.catalog-select__dropdown .select2-results__option {
  padding: 9px 8px;
  font-size: 13px;
  line-height: 18px;
  font-family: OpenSansRegular, sans-serif;
  border-bottom: 1px solid $brand-gray;

  &:last-child {
    border: none;
  }
}

.select2-container .catalog-select {
  border: 1px solid $brand-gray;
  border-radius: 3px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  height: auto;
  padding: 8px 32px 8px 8px;
  font-family: $OPS-R, sans-serif;
  outline: none;
}

.select2-dropdown.catalog-select__dropdown {
  border-color: $brand-gray;
  box-shadow: 1px 1px $brand-gray;
}

.select2-container .catalog-select.select2-selection--single .select2-selection__rendered {
  padding: 0;
}

.select2-container--open .catalog-select__dropdown .select2-search__field {
  box-shadow: none;
  outline: none;
  border: 1px solid $brand-gray;
  display: block;
  margin-top: -36px;
  margin-left: -5px;
  margin-right: -5px;
  width: calc(100% + 10px);
  height: 36px;
  font-size: 13px;
  font-family: $OPS-R, sans-serif;
  padding: 0 36px 0 8px;

  &::placeholder {
    font-size: 10px;
    color: $brand-gray-hover;
  }
}

