@import "../variables";

.select2-container {
  z-index: 2100;
}

.index-select {
  outline: none;
}

.index-select__dropdown {
  border: 0;
}

.index-select__dropdown .select2-search--dropdown {
  display: none;
}

.index-select__dropdown .select2-results__options {
  background: $brand-white;
  box-shadow: 0px 2px 10px rgba(35, 35, 35, 0.15);
  border-radius: 0px 0px 5px 5px;
  margin: 0;
  padding: 0 20px;
  list-style: none;
  overflow-y: auto;
  max-height: 150px;
  border: 0;

  @media #{$sm} {
    padding: 0 15px;
  }

  @media #{$xs} {
    padding: 0 13px;
    max-height: 115px!important;
  }

  &::-webkit-scrollbar {
    background: #c4c4c4;
    border-radius: 5px;
    width: 7px;

    @media #{$sm} {
      width: 4px;
    }

    @media #{$xs} {
      width: 5px;
    }
  }

  &::-webkit-scrollbar-thumb {
    width: 7px;
    border-radius: 5px;
    background: $redesign-index-black;

    @media #{$sm} {
      width: 4px;
    }

    @media #{$xs} {
      width: 5px;
    }
  }
}

.index-select__dropdown .select2-results__option {
  border-bottom: 1px solid #c4c4c4;
  font-size: 14px;
  font-family: $GothPro;
  line-height: 16px;
  color: $redesign-index-black!important;
  padding: 15px 0;
  cursor: pointer;
  background: none!important;
  transition: 0.3s;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    color: $redesign-index-orange!important;
    background: none;
  }

  @media #{$sm} {
    font-size: 10px;
    line-height: 11px;
    padding: 9px 0;
  }

  @media #{$xs} {
    font-size: 12px;
    line-height: 14px;
    padding: 12px 11px;
  }
}

.select2-container .index-select__wrap {
  background: $redesign-index-body;
  border-radius: 5px;
  padding: 0 15px;
  border: 0;
  width: 100%;
  font-size: 14px;
  font-family: $GothProM;
  line-height: 16px;
  height: 50px;
  color: $redesign-index-black;
  outline: none;

  @media #{$sm} {
    height: 32px;
    font-size: 10px;
    line-height: 11px;
  }

  @media #{$xs} {
    height: 50px;
    font-size: 12px;
    line-height: 15px;
    padding: 0 17px;
  }

  .select2-selection__rendered {
    padding-top: 13px;
    padding-right: 40px;

    @media #{$sm} {
      padding-left: 0;
      padding-top: 3px;
    }

    @media #{$xs} {
      padding-top: 11px;
    }
  }

  .select2-selection__arrow {
    width: 18px;
    height: 10px;
    top: 20px;
    right: 23px;
    display: block;
    background: url('#{$assets-path}/img/profile_arrow.svg');

    @media #{$sm} {
      width: 11.55px;
      height: 6.41px;
      background-size: cover;
      top: 12.74px;
      right: 15px;
    }

    @media #{$xs} {
      top: 22px;
    }

    b {
      display: none;
    }
  }
}

/*.select2-dropdown.index-select__dropdown {
  border-color: $brand-gray;
  box-shadow: 1px 1px $brand-gray;
}

.select2-container .index-select.select2-selection--single .select2-selection__rendered {
  padding: 0;
}

.select2-container--open .index-select__dropdown .select2-search__field {
  box-shadow: none;
  outline: none;
  border: 1px solid $brand-gray;
  display: block;
  margin-top: -36px;
  margin-left: -5px;
  margin-right: -5px;
  width: calc(100% + 10px);
  height: 36px;
  font-size: 13px;
  font-family: $OPS-R, sans-serif;
  padding: 0 36px 0 8px;

  &::placeholder {
    font-size: 10px;
    color: $brand-gray-hover;
  }
}*/



