@import "../variables";

.index-products {
  margin-top: -69px;

  @media #{$sm} {
    margin-top: -48px;
  }

  @media #{$xs} {
    margin-top: - 69px;
  }

  &__flex {
    display: flex;
    justify-content: space-between;

    @media #{$sm} {
      width: calc(100% + 9px);
      transform: translateX(-4.5px);

      .slick-prev {
        left: -38px;
      }
      .slick-next {
        right: -38px;
      }
    }

    @media #{$xs} {
      width: calc(100% + 30px);
      transform: translateX(-15px);
      padding-bottom: 43px;
    }
  }

  &__item {
    width: 100%;
    margin-right: 36px;
    background: $brand-white;
    box-shadow: 0px 1px 4px rgba(35, 35, 35, 0.05);
    border-radius: 5px;
    transition: 0.3s;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0px 3px 10px rgba(35, 35, 35, 0.15);

      .index-button--price {
        color: $brand-white;
        background: $redesign-index-orange;
      }
    }

    @media #{$sm} {
      margin: 0 4.5px;
    }

    @media #{$xs} {
      margin: 0 10px;
    }
  }

  &__description {
    padding: 28px 18px 19px 19px;

    @media #{$sm} {
      padding: 15px 17px;
    }

    @media #{$xs} {
      padding: 28 18px 19px 19px;
    }
  }

  &__title {
    font-family: $GothProB;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    display: block;
    margin-bottom: 21px;
    color: $redesign-index-black;
    height: 46px;
    overflow: hidden;

    @media #{$sm} {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 14px;
    }

    @media #{$xs} {
      font-size: 16px;
      line-height: 23px;
      margin-bottom: 21px;
    }
  }

  &__geo {
    font-family: $GothProL;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: $redesign-index-black;
    height: 40px;
    overflow: hidden;

    @media #{$lg} {
      height: 60px;
    }

    @media #{$sm} {
      font-size: 12px;
      line-height: 17px;
      margin-bottom: 14px;
      height: 40px;
    }

    @media #{$xs} {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }

  &__note {
    margin: 20px 0 0;
    font-size: 12px;
    font-family: $GothProL;
    line-height: 17px;
    text-align: center;
    color: $redesign-index-black-05;

    @media #{$sm} {
      font-size: 10px;
      line-height: 14px;
      margin-top: 14px;
    }

    @media #{$xs} {
      font-size: 12px;
      line-height: 17px;
      margin-top: 20px;
    }
  }
}